defaults: &defaults
  dailymvp:
    client_id: hohoho
    client_secret: hohoho
  fannation:
    client_id: hahaha
    client_secret: hahaha

test:
  <<: *defaults

development:
  <<: *defaults

alderaan:
  <<: *defaults

dagobah:
  <<: *defaults

integration:
  <<: *defaults

staging:
  <<: *defaults
  
production:
  <<: *defaults
